<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <xacro:arg name="name" default="ur"/>

  <xacro:include filename="$(find ur_moveit_config)/srdf/ur_macro.srdf.xacro"/>
  <xacro:include filename="$(find ur_moveit_config)/srdf/ur_robotiq_disable_collisions.srdf.xacro"/>

  <xacro:ur_srdf tip_link="robotiq_85_left_finger_tip_link" add_gripper_states="true"/>
  <xacro:ur_robotiq_disable_collisions/>

</robot>
